<article class="card-container">
    <div class="card-title-icon">
        <h3 class="card-title h4">{{ card-title }}</h3>
        <img src="/assets/users.svg" width="20" height="20" alt="">
    </div>

    <div class="card-count-license">
        <p class="card-amount-data">{{ count-data }}</p>
        <p class="card-sub-text">{{ card-subtext }}</p>
    </div>
</article>