<a href="{{ href-to-details }}" class="card-button direct-to-details">
    <span class="card-button-text">Klas bekijken</span>
    <img src="/assets/arrow-rightup.svg" width="20" height="20" alt="">
</a>