<footer>
    <div class="divider-footer"></div>

    <div class="wrapper-footer">
        <section class="about-footer">
            <div class="terug-footer">
                <a class="back-href" href="/">
    <img class="back-href-arrow" width="20" height="22" viewBox="0 0 20 22" src="/assets/leftarrow.svg">
<h2>Terug naar dashboard</h2>
</a>
            </div>
        </section>

    <div class="icons-footer">
        <ul class="links-footer">
                        <li class="secondary-text">
                <a href="/">
                    <img width="60" height="auto" viewBox="0 0 20 22" src="/assets/klas.svg">
                    </img>Klas
                </a>
            </li>
            <li class="secondary-text">
                <a href="/">
                        <img width="60" height="auto" viewBox="0 0 20 22" src="/assets/chat.svg">
                        </img>Chat
                </a>
            </li>
            <li>
                <a class="secondary-text" href="/">
                        <img width="60" height="auto" viewBox="0 0 20 22" src="/assets/progressie.svg">
                        </img>Progressie
                </a>
            </li>
            <li>
                <a class="secondary-text" href="/">
                        <img width="60" height="auto" viewBox="0 0 20 22" src="/assets/feedback.svg">
                        </img>Feedback
                </a>
            </li>
            <li>
                                <a class="secondary-text" href="/">
                        <img width="60" height="auto" viewBox="0 0 20 22" src="/assets/info.svg">
                        </img>Info
                </a>
                </li>
        </ul>
        <p>© 2025 - Onyx</p>
    </div>


  </footer>
  </body>
  </html>