<footer>

 <ul>
            <li class="footer-images">
                <a href="/">
                    <img width="20" height="22" viewBox="0 0 20 22" src="/assets/klas.svg">
                    </img>Klas
                </a>
            </li>
            <li class="footer-images">
                <a href="/">
                        <img width="20" height="22" viewBox="0 0 20 22" src="/assets/chat.svg">
                        </img>Chat
                </a>
            </li>
            <li>
                <a href="/">
                        <img width="20" height="22" viewBox="0 0 20 22" src="/assets/progressie.svg">
                        </img>Progressie
                </a>
            </li>
                        <li>
                <a href="/">
                        <img width="20" height="22" viewBox="0 0 20 22" src="/assets/feedback.svg">
                        </img>Feedback
                </a>
            </li>
            <li>
                <a href="/">
                        <img width="20" height="22" viewBox="0 0 20 22" src="/assets/info.svg">
                        </img>Info
                </a>
            </li>
        </ul>


  </footer>
  </body>
  </html>