<aside class="navigation-bar-container">
    <input type="checkbox" id="nav-toggle" hidden>
    <label for="nav-toggle" class="navbar-button">Navbar</label>

    <div class="nav-container">
        <div class="nav-content-container">
            <div class="profile-picture-container">
                <img src="/assets/mofu.jpg" width="40" height="40" alt="Profielafbeelding">
                <div class="account-info">
                    <p class="account-name paragraph">Stella Clough</p>
                    <p class="account-email paragraph">stellaclough@byonyx.app</p>
                </div>
                <img class="arrow-logo" src="/assets/double-arrow.svg" width="20" height="20" alt="">
            </div>

            <nav class="navigation">
                <h2 class="navigation-section-title-1 h6">Ipse de Bruggeschool</h2>

                <details class="dropdown" open>
                    <summary>
                        <img class="dropdown-house-icon" src="/assets/dashboard.svg" width="20" height="20" alt="dashboard icon">
                        Dashboard
                        <img class="dropdown-arrow-icon" src="/assets/dropdown-arrow.svg" width="20" height="20" alt="">
                    </summary>

                    <ul class="nav-items">
                        <li>
                            <a href="/">
                                <img src="/assets/user-settings.svg" width="20" height="20" alt="gebruikers beheren icon">
                                Gebruikers beheren
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <img src="/assets/statistieken.svg" width="20" height="20" alt="Statistieken icon">
                                Statistieken
                            </a>
                        </li>
                    </ul>
                </details>

                <details class="dropdown" open>
                    <summary>
                        <img class="dropdown-house-icon" src="/assets/opleidingen.svg" width="20" height="20" alt="opleidingen icon">
                        Opleidingen
                        <img class="dropdown-arrow-icon" src="/assets/dropdown-arrow.svg" width="20" height="20" alt="">
                    </summary>

                    <ul class="nav-items">
                        <li>
                            <a href="/">
                                <img src="/assets/user.svg" width="20" height="20" alt="maatschappelijke zorg icon">
                                Maatschappelijke zorg
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <img src="/assets/user.svg" width="20" height="20" alt="maatschappelijke zorg icon">
                                Maatschappelijke zorg
                            </a>
                        </li>
                    </ul>
                </details>

            </nav>
        </div>
    </div>
</aside>