<div class="search-bar-container">
    <label for="{{ search-bar-id }}" class="search-bar-label">{{ search-bar-label-text }}</label>
    <input type="search" placeholder="Zoek klassen" class="search-bar" id="{{ search-bar-id }}">
</div>