{% render 'partials/head.liquid' %}


<div class="parent">
    <div class="div1">
<aside class="navigation-bar-container">
    <input type="checkbox" id="nav-toggle" hidden>
    <label for="nav-toggle" class="navbar-button">Navbar</label>

    <div class="nav-container">
        <div class="nav-content-container">
            <div class="profile-picture-container">
                <img src="/img/profile.svg" width="40" height="40" alt="Profielafbeelding">
                <div class="account-info">
                    <p class="account-name paragraph">Mark Heijnenkamp</p>
                    <p class="account-email paragraph">markheijnenkamp@byonyx.app</p>
                </div>
                <img class="arrow-logo" src="/img/double-arrow.svg" width="20" height="20" alt="">
            </div>

            <nav class="navigation">
                <h2 class="navigation-section-title-1 h6">Ipse de Bruggeschool</h2>

                <details class="dropdown" open>
                    <summary>
                        <img class="dropdown-house-icon" src="/img/dashboard.svg" width="20" height="20" alt="dashboard icoon">
                        Dashboard
                        <img class="dropdown-arrow-icon" src="/img/dropdown-arrow.svg" width="20" height="20" alt="">
                    </summary>

                    <ul class="nav-items">
                        <li>
                            <a href="/">
                                <img src="/img/gebruikers-beheren.svg" width="20" height="20" alt="gebruikers beheren icoon">
                                Gebruikers beheren
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <img src="/img/statistieken.svg" width="20" height="20" alt="Statistieken icoon">
                                Statistieken
                            </a>
                        </li>
                    </ul>
                </details>

                <h2 class="navigation-section-title-2 h6">Opleidingen</h2>

                <details class="dropdown" open>
                    <summary>
                        <img class="dropdown-course-icon" src="/img/opleidingen.svg" width="20" height="20" alt="opleidingen icoon">
                        Opleidingen
                        <img class="dropdown-arrow-icon" src="/img/dropdown-arrow.svg" width="20" height="20" alt="">
                    </summary>

                    <ul class="nav-items">
                        <li><a href="/">Maatschappelijke zorg</a></li>
                        <li><a href="/">Software development</a></li>
                    </ul>
            </details>
            </nav>
        </div>
    </div>
</aside>
</div>

<div class="div3">
<header class="header-container">

<a class="back-href" href="/">
    <img class="back-href-arrow" width="20" height="22" viewBox="0 0 20 22" src="/assets/leftarrow.svg">
<h2>Terug naar dashboard</h2>
</a>

    <h1 class="header-title">Gebruikers statistieken</h1>

    <div class="buttons-container">
        <button class="button-1 active">User data</button>
        <button class="button-2">Course data</button>
    </div>

</header>
</div>

<div class="div4">
<div class="chart-container">
  <canvas class="chart" id="line-chart"></canvas>
</div>

</div>

<div class="div5">
    <section class="classlist"> 
    <h2>Leerjaar</h2>
          <div class="buttonstopic">
        <button class="button-filter" type="button" data-topic="jaar1">Jaar 1</button>
        <button class="button-filter" type="button" data-topic="jaar2">Jaar 2</button>
    </div>
    <form action="/search" method="get" class="">
  <div class="search">
    <input type="text" placeholder="Zoek Klassen"  class="input-searching-tool">
    <button type="submit" class="search-button">
    Zoek
    </button>
  </div>
</form>

    <div class="buttons-container">
        <button class="button-1 active">Klassen</button>
        <button class="button-2">Studenten</button>
    </div>
</div>

<div class="div6">
{% for klas in klassen %}

  <section class="classlist">
      <h2>{{ klas.title }}</h2>
      <p>{{ klas.leraar }}</p>
      <p>{{ klas.percentage }} </p> 
      <a href="/klas/{{ klas.id }}"> Klas bekijken ↗</a>
  </section>

{% endfor %}
</div>
</div>

    {% render 'partials/footer.liquid' %}