* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--achtergrond);
}

/* Navigation Buttons*/
.navbar-button-container {
    padding-top: 2rem;

}

.nav-button {
    height: auto;
    width: auto;
    padding: 1rem;

    writing-mode: vertical-lr;
    background-color: var(--primair);
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    color: var(--color-disabled);
    cursor: pointer;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 2rem 1rem 2rem 1rem;
    gap: 1.5rem;

}


/* Barchart */

.chart-container {
    padding: 2rem 1rem 2rem 1rem;
    max-width: 80vw;
}

/* Header Buttons */
.buttons-container {
    background-color: var(--color-disabled);
    width: fit-content;
    padding: 0.3rem;
    border-radius: 0.4rem;
    display: flex;
    gap: 0.5rem;
}

.button-1,
.button-2 {
    padding: 0.5rem 3rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    background-color: var(--color-disabled);
    color: var(--color-muted);
    transition: ease-in-out 0.3s;

}

.button-1.active,
.button-2.active {
    background-color: white;
    color: black;
}

/* Search Buttons */

  .buttonstopic-publication {
    display: flex;
    justify-content: center;
    gap: var(--spacing-32);
    padding: var(--spacing-16);
  }

  .buttonstopic-publication button {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: var(--spacing-16);
    flex-direction: column;
    justify-content: space-between;
  }

  .buttonstopic-publication button:hover {
    background-color: var(--color-dark-blue);
  }